In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('points.csv')

df.head()

,Unnamed: 0,dim1,dim2,dim3,dim4,dim5,dim6,dim7,dim8,dim9,...,dim11,dim12,dim13,dim14,dim15,dim16,dim17,dim18,dim19,dim20
0,point1,2.017209,3.265527,5.478487,10.431999,7.175175,2.015391,5.619994,1.334282,9.796088,...,6.620204,9.513538,7.764805,13.714396,10.034496,9.833458,10.861265,6.962850,10.959705,9.769509
1,point2,0.592732,1.588421,7.586157,9.623011,6.816049,2.466601,11.055208,3.562621,10.070470,...,1.174790,4.926991,5.819832,13.286240,6.663316,9.533302,9.728152,6.698691,9.830935,8.818521
2,point3,3.511759,4.327199,6.881787,9.870730,6.972130,1.981122,8.210248,4.195285,8.970920,...,7.680507,3.119439,7.899526,10.731098,6.967883,9.646323,10.053424,7.592345,9.971069,9.286537
3,point4,3.663618,4.507649,6.659068,10.196184,7.843375,2.874246,8.306317,3.573556,8.524616,...,6.469165,7.029895,6.800641,12.659474,8.299890,9.670731,10.264619,8.890292,10.639305,11.484455
4,point5,2.655741,2.821547,6.539454,9.738265,6.566967,2.141204,10.149150,2.967630,8.047238,...,5.861429,7.755709,5.570241,13.556734,8.004754,9.587569,9.860651,4.443070,10.391297,10.050121

In [6]:
from kmeans import kmeansPP
from scipy import spatial
arr = df.values[:,1:20]
arr = np.asarray(arr, dtype=np.float)
k = [16,8,4,2]
cost = []
for i in range(k):
    c = kmeansPP(arr,i)
    cost.append(np.min(spatial.distance.cdist()))

array([[ 2.01720929,  3.26552691,  5.47848651, ..., 10.86126529,
         6.96284975, 10.95970496],
       [ 0.59273209,  1.58842082,  7.58615674, ...,  9.72815181,
         6.69869078,  9.83093504],
       [ 3.51175898,  4.32719872,  6.88178696, ..., 10.05342363,
         7.59234491,  9.97106928],
       ...,
       [ 2.51770403,  3.03040671,  5.90177922, ...,  9.49179499,
         3.75917714, 11.10267781],
       [ 2.98719351,  2.67730527,  7.13411824, ...,  9.64874405,
         8.45069577,  9.96876758],
       [ 3.59087743,  1.32578935,  6.88001201, ...,  9.89974965,
         6.18485353, 10.53872245]])